@import 'tailwindcss';

:root {
	font-size: 16px;
	line-height: 1.2;
	font-family: 'Noto Sans', Verdana, Geneva, Tahoma, sans-serif;
}

body {
	@apply bg-black text-slate-200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Antonio', Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	line-height: 1;
}

h1 {
	font-size: 2.4rem;
}
h2 {
	font-size: 2.2rem;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.8rem;
}
h5 {
	font-size: 1.6rem;
}
h6 {
	font-size: 1.4rem;
}
